/* ---------------- General setting for all pages ---------------- */
* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: grey rgb(14, 14, 14);
}
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: rgb(14, 14, 14);
}
*::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
  border: 3px solid rgb(14, 14, 14);
}
head {
  height: 0;
}
body {
  margin: 0;
  background-color: #1a1a1a;
  color: ivory;
  font-family: sans-serif;
}
h1 {
  font-size: 1vw;
  width: 100%;
  /* position: absolute; */
  text-align: center;
}
a{
  margin: 1vh;
  font-weight: bold;
  text-decoration:none;
  outline: 0;
  color: #99002f;
}
a:hover{
  color: #d14d76;
}
label {
  margin: 0.5vw 0 0.5vw 0;
}
input {
  border-radius: 0;
}
button {
  background-color: #333333;
  /* color: ivory; */
}
input {
  margin: 0.5vw 0 0.5vw 0;
  background-color: #4d4d4d;
  border: solid #4d4d4d;
  color: ivory;
}
input:active {
  border: solid #666666;
}
textarea {
  background-color: #4d4d4d;
  border: solid #4d4d4d;
  border-radius: 4px;
  color: ivory;
}
textarea:active {
  border: solid #666666;
}
.link{
  margin: 0.5vh;
}
/* Style the footer */
.footer {
  position: fixed;
  padding: 0.2vw 0.2vw 0 0.2vw;
  text-align: center;
  bottom: 0;
  width: 100vw;
  font-size: 1.2vh;
}

/* ---------------- form{} ---------------- */

/* ---------------- index.php ---------------- */
.authentification {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3vw;
  align-content: center;
  transform: translate(-50%, -50%);
  font-size: 1.5vw;
}
.authentification button {
  width: 10vw;
}
.authentification input {
  padding: 0.1vw;
  background-color: #4d4d4d;
  border: solid #4d4d4d;
  color: ivory;
}
#eye {
  cursor: pointer; 
  margin: 0.5vw 0 0.5vw 0;
  background-color: grey;
  padding: 2px;
  width: auto;
}


/* ---------------- hub.php ---------------- */
.hub {
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-size: 3vh;
}


/* ---------------- cms.php ---------------- */
/* Style the header */
.header {
  text-align: center;
  font-size: 1.5vw;
}
/* Container for flexboxes */
.row {
  display: -webkit-inline-flex;
  display: inline-flexbox;
}
/* Create three unequal columns that sits next to each other */
.column {
  flex: 1 1 auto;
  overflow-y: auto;
  height: 80vh;
  width: 33%;
  padding: 1vw;
}
.formulaire {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 5vh;
  font-size: 5px;
  position: fixed;
}
#info {
  font-style: italic;
  font-size: 0.5vw;
}
.protocol {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  font-size: 1vw;
  position: fixed;
}
.result {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-weight: bolder;
  border: dotted grey;
  border-spacing: 2vh;
  height: auto;
  width: 100vw;
  overflow-y: scroll; /* Show vertical scrollbar */
}
.message {
  margin: 0.5vw;
  padding: 0.5vw;
  background-color: #1a0008;
  border: double #4d4d4d;
  border-radius: 0.2vw;
}

#result {
  font-weight: bold;
  color: hotpink;
  border: 1px dotted lightpink;
  padding: 0.5vh;
  font-size: 0.3vw;
}
#dataLink {
  color: white;
  background-image: none;
  text-decoration: none;
  position: absolute;
  margin-left: 87vw;
  margin-top: -2vh;
}
#dataLink:active {
  color: white;
  background-image: none;
  text-decoration: none;
}
#dataLink:visited {
  color: white;
  background-image: none;
}


/* ---------------- dataVisu.php ---------------- */
.cu{
  margin: 4vh;

}
.cublocked{
  margin:4vh;
}
.message_content{
  margin: 3vw;
}
.time{
  font-size: smaller;
}
.data_message{
  border: #1a0008 1px solid;
  width: 14vw; /*à definir en fonction de la taille des elements enfants*/
  height: 7vw;
  background-color: #1a0008;
  margin: 0.5vw;
  padding: 0.5vw;
  float: left;
  overflow-y: scroll;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100vw;
  }
}
